section{
  background-color: teal;
  color: white;
  font-family: helvetica;
  text-transform: uppercase;
  overflow-x: hidden;
div{
  display:flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
.news-message{
  display : flex;
  flex-shrink: 0;
  height: 50px;
  overflow:hidden;
  align-items: center;
  animation: slide-left 5s ease-in-out alternate infinite;
  p{
    font-size: 2.5em;
    font-weight: 100;
    padding-left: 0.5em;
  }
  @keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
}
}
}
